.movie-form{
    padding: 0 !important;
    display: flex !important;
    margin-top: 0 !important; /* margin-top je 30 bilo po defaultu */
    flex-direction: row !important;
    flex-wrap: nowrap; /* po defaultu je wrap, za velike ekrane ce biti nowrap a za male wrap */
}

/* ako je samo form, primeni na sve form, iz logina i registracije na primer, ne znam sto i na njih kad nije importovan taj css fajl u komponenti*/

.form-control{
    background-color: #424242 !important;
    border: 2px solid #353122 !important;
    color: white !important;
}

.form-label{
    color: white !important;
}

.box-1{
     width: 55%;
     margin-right: 20px;
}
/* .box-2{
    width: 40%;
} */

@media(max-width: 600px){
    .movie-form{
        flex-wrap: wrap;
    }
    .box-1{
        width: 100%; /* da zauzme 100% jer ostane na 55% */ 
        margin-right: 0;
    }
}
