/* 
.modal{
    background-color: aqua !important;
} */


/*modal-content, preko inspect sam nasao kako se zove klasa tacno*/ 
.modal .modal-content{
    background-color: #2b2b2b;
    border: 3px solid #353122 !important;
}

#closeModalBtn{
    padding: 5px 15px;
    background-color: rgb(189, 0, 0);
    border: 1px solid rgb(189, 0, 0);
    color: white;
    border-radius: 5px;
}
#submitModalBtn{
    padding: 5px 15px;
    background-color: #766000;
    border: 1px solid #766000;
    color: white;
    border-radius: 5px;
}

.modal-title{
    color: white;
}

.modal-header .btn-close{
    /* background-color: white !important; */
    background-color: white;
}

.createMovieBtn{
    color: white;
    background-color: #766000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    border: 2px solid rgba(208, 208, 208, 0.79);
    border-radius: 5px;
}

.movie-info-container{
    display: flex;
    width: 70%;
    margin-top: 10px;
    /* justify-content: space-between; */
}

.container-box-1{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-box-2{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.movie-image{
    height: 148px;
    width: 99px; 
    margin: 20px; 
}

.movie-main-container{
    margin-top: 2%;
}

.movie-item-container{
    display: flex;
    border: 1px solid #766000;  
}

h3, label, div{
    color: white;
}

label{
    font-size: 16px;
    margin-top: 5px;
}

.layer-container{
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.4); /* dovoljno je ovo samo da se zamraci pozadina a da ne primeni na text */
}






.h1-movies{
    text-align: center;
    margin-top: 5px;
}

.movie-action-container{
    width: 20%;
    position: relative;
    text-align: center;
    
}

.actionLabel{
    font-size: larger;
}

.action-fa-container{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
#fa-pencil{
    font-size: xx-large;
    color: #c4a20b;
}
#fa-pencil:hover{
    cursor: pointer;
}
#fa-trash{
    font-size: xx-large;
    margin-right: 10%; 
    color: rgb(189, 0, 0);
}
#fa-trash:hover{
    cursor: pointer;
}




