@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;600;700&display=swap');
.router-components:before{
  /* display: block; */
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} 

.main-container{
  height: 100vh;
  overflow-x: hidden; /* da ne moze da se skroluje i da se vidi side bar, mora i height da bude 100vh da ne bi side bar bio u visini kontejnera */
}


/* @import 'fontawesome/css/font-awesome.min.css'; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* */
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

/* #root::before{
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

