.router-components:before{
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} 

/* #root::before{
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */

