.navbar{
    display: flex;
    padding: 2% 6%;
    /* margin: 2% 6%; */
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #383838; 
    padding-left: 5% !important;
    padding-right: 5% !important;
}

#li-loginBtn{
    /* display: flex; /* zasto kad je display: flex stavi u nov red i poremeti sve, umesto da deluje samo na child elemente, proveriti !!! */
    color: white;
    padding: 15px 30px;
    border: 2px solid rgb(199, 199, 0);
    border-radius: 10px;
    background: transparent;
    text-decoration: none;
}


.signInContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-btn{
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    /* margin-left: 10px; */
}

/* treba uraditi i kada bude hover preko li-loginBtn, da se automatski color promeni u crno na login-btn*/
.login-btn:hover{
    color: black;
    transition: 1s;
}


#li-loginBtn:hover{
    color: black;
    background-color: white;
    border: 2px solid white;
    transition: 1s;
}

.nav-ul{
    margin-bottom: 0; /* ne znam zasto nije po defaultu*/
}

.nav-bottom-line{
    height: 1px;
    background-color: rgb(199, 199, 0);
}

.img-logo{
    width: 140px;
    height: 70px;
}

.nav-links{
    flex: 1;
    text-align: right; /* ul centrira desno*/ 
    
    
}
/* ul{
    display: flex;
} */

.nav-list-item{
    list-style: none;
    display: inline-block; 
    padding: 8px 25px;
    position: relative; 
}

.nav-link{
    color: white !important; /* nzm zasto mora important */
    text-decoration: none;
    font-size: 18px !important; /* nzm zasto mora important */
    
}

.nav-link::after{
    content: "";
    height: 2px;
    width: 0%;
    background: rgb(199, 199, 0);
    display: block;
    margin: auto;  /* sa margin auto se stavi da tranzicija ide od sredine pa prema krajevima, bez ovoga bi islo od pocetka (levo) do kraja (desno) */
    transition: 0.5s;
}

.nav-link:hover::after{
    width: 100%;
}


#menu, #x-menu{
    display: none; 
}

@media(max-width: 700px){
    .nav-list-item{
        display: block;
    }
    .nav-links{
        position: absolute;
        background-color: #383838;
        height: 100vh; /* da zauzme view height, da je 100% bilo bi 100% od parent elementa*/
        width: 200px;
        top: 0;
        right: -200px; /* da se ne vidi, toliki mu je i width, pa ga skloni */
        text-align: left; /* moze i ovako, pozicionira content iz nav-list-itema u levo, a moze i na nav-list-item da se stavi, uradice isto*/
        z-index: 2; /* da prekrije ostale komponente kada treba da se pojavi*/
        transition: 1s;
        border-left: 2px solid #625731;; ;
    }
    #menu, #x-menu{
        display: block; /* da se pojave, jer su none za velike ekrane*/
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    #li-loginBtn{
        margin-top: 15px !important;
        
    }
    .login-btn{
        border: 1px solid rgb(199, 199, 0) !important;
    }
    .nav-ul{
        padding: 30px;
    }
    
    
}