/* body {
    background-color: #9A616D;
  } */
/* 
  .my-5{
    background-color: black !important;
    margin: 0 !important;
  } 

  #card{
    background-color: black;
  } */

  /* .gradient-custom { */
    /* fallback for old browsers */
     /* background: #6a11cb; */
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)); */
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));  */
    /* }  */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

/* body {
  font-family: 'Jost', sans-serif;
  background-color: #f0f5ff;
  transition: 0.5s;
} */



.login-box {
  background-color: #2b2b2b;
  width: 40%;
  border-radius: 10px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
  transition: 0.5s;
  border: 2px solid #353122;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.input, .login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
   /* .login-box {
    width: 100%;
  }  */
  .login-box{
    width: 60%;
  }
}

@media only screen and (max-width: 1366px) {
  .login-box {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  .login-box{
    width: 80%;
  }

  .login{
    width: 60%;
    /* max-height: 20px; */
    max-height: 15px;
    line-height: 0;
    padding-top: 25px;
    padding-bottom: 25px; /* nzm ni sam zasto bas radi ovako da se smanji dugme za malu rezoluciju, preko inspect cackao pa namestio da bude okej */ 
  }
}

@media screen and (max-width: 912px) {
  .login-box{
    width: 80%;
  }
}



.login-box h1 {
  text-align: center;
  /* color: #232c3d; */
  /* transition: 0.5s; */
  color: white;
}



form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

input {
  width: 80%;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  transition: 0.5s;
  background-color: #424242;
  color: white;
  border: 2px solid #353122;
}




input:focus {
  outline: none;
}

form button {
  width: 20%;
  border: 1px solid #9d9b42;
  
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: 0.5s;
  background-color: #625731;

}



form button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  transition: 0.5s ease;
}



form button:focus {
  outline: none;
}

.registration-div{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.registration-label{
  color: white;
}

.registration-link{
  color: #9d9b42;
}

.registration-link:hover{
  color:  #ffdd40;
}




